<div class="wrapper">

    <div class="calculator-wrapper">
        <div class="input">
            R {{input}}
        </div>

        <div class="number-wrapper">
            <div class="group" *ngFor="let calculatorGroup of calculatorButtonList">
                <div class="number"
                [class.comma]="!!commaStatus && item === commaIcon"
                *ngFor="let item of calculatorGroup"
                (click)="trigger(item)"
                [innerHtml]="item"></div>
            </div>
        </div>
    </div>

    <div class="register-wrapper">
        <div class="register" *ngIf="!!registerList && registerList.length > 0">
            <div class="register-item" *ngFor="let registerItem of registerList">
                <div class="remove-item" (click)="removeItem(registerItem)">X</div>
                <div>{{registerItem | currency:'ZAR':'symbol-narrow'}}</div>
            </div>
            
            <div class="register-total">
                {{total | currency:'ZAR':'symbol-narrow'}}
            </div>
        </div>
    </div>
</div>