.wrapper {
  display: flex;
  justify-content: center;
  background-color: #e8edf4;
  padding: 40px;
  border-radius: 5px;

  @media screen and (max-width: 800px) {
    flex-direction: column;
    align-items: center;
  }

  .calculator-wrapper {
    width: 400px;
    height: 400px;
    box-shadow: 0px 0px 16px 0px #545e75;
    border: 3px solid #545e75;
    border-radius: 5px;
    margin-right: 30px;

    @media screen and (max-width: 800px) {
      margin-right: 0px;
      margin-bottom: 30px;
    }

    @media screen and (max-width: 440px) {
      width: 100%;
    }

    .input {
      font-size: 32px;
      text-align: right;
      padding: 32px 16px;
      font-family: monaco, Consolas, Lucida Console, monospace;
      background-color: #e3e8ef;
      cursor: not-allowed;
      border-radius: 5px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .number-wrapper {
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 20px;
      border-radius: 5px;

      .group {
        display: flex;
        height: 72.2px;
        border-top: 1px solid #545e75;

        .number {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          background-color: #f7f9fc;
          cursor: pointer;
        }

        :nth-child(1).number {
          border-right: 1px solid #545e75;
        }

        :nth-child(3).number {
          border-left: 1px solid #545e75;
        }

        :nth-child(4).number {
          border-left: 1px solid #545e75;
        }

        .comma {
          background-color: aquamarine;
        }
      }
    }
  }

  .register-wrapper .register {
    width: 220px;
    font-family: monaco, Consolas, Lucida Console, monospace;
    border-radius: 5px;
    font-size: 16px;
    padding: 16px;
    background-color: #545e75;
    color: #f7f9fc;
    text-align: right;

    .register-item {
      border: 1px solid transparent;

      .remove-item {
        display: none;
      }

      &:hover {
        display: flex;
        justify-content: space-between;
        border: 1px solid #f7f9fc;
        border-radius: 5px;
        padding: 0 5px;

        .remove-item {
          display: block;
          cursor: pointer;
        }
      }
    }

    .register-total {
      margin-top: 5px;
      padding-top: 5px;
      border-top: 3px solid #f7f9fc;
    }
  }
}
